.ToolBar {
  z-index: 2000;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 20px;
  background: #fff;
  position: fixed;
  top: 0;
}
.ToolBar span {
  font-weight: bold;
}

.ToolBar .logo {
  width: 30px;
  margin-right: 20px;
}