* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root, .App{
  height: 100%;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

#edificacoes {
  z-index: 10000;
}

#quadras {
  z-index: 9000;
}

#bairros {
  z-index: 8000;
}